nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav > ul > li {
  flex: 1 1 auto;
  text-align: center;
  float: left;
}

nav > ul > li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;}

nav > ul > li a:hover {
  background-color: #111;
}

main > section:not(:target) {
  display: none;
}

@media screen and (max-width: 600px) {
  nav li.right,
  nav li {
    float: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #0080ff;
}

main {
  display: flex;
  background-color: #00FFFF;
  color: #0000FF;
  font-family: 'Oswald', sans-serif;
  margin: 4%;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

x-stopwatch:not(paused) .start{
  display: none !important;
}
x-stopwatch:not(paused) .pause{
  display: inline-block !important;
}

x-stopwatch[paused] .start{
  display: inline-block !important;
}
x-stopwatch[paused] .pause{
  display: none !important;
}
