nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 170%;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav > ul > li {
  flex: 1 1 auto;
  text-align: center;
  float: left;
}

nav > ul > li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

nav > ul > li a:hover {
  background-color: rgb(128, 125, 125);
}

main > section:not(:target) {
  display: none;
}

@media screen and (max-width: 600px) {
  nav li.right,
  nav li {
    float: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #0080ff;
}

body.dark-theme {
  background-color: #000050;

}

body.dark-theme main {
  background-color: #000808;
}

body.dark-theme nav {
  background-color: #333;
}

body.dark-theme nav > ul > li a {
  color: white;
}

body.dark-theme nav > ul > li a:hover {
  background-color: rgb(20, 20, 20);
}

main {
  display: flex;
  background-color: #00FFFF;
  color: #0000FF;
  font-family: 'Oswald', sans-serif;
  margin: 4%;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 50 !important;
  color: #0000FF;
}

/*Stopwatch*/
/*Before*/
x-stopwatch[start-time=""] .start{
  display: inline-block !important;
}
x-stopwatch[start-time=""] .pause{
  display: none !important;
}

/*Started*/
x-stopwatch:not(paused) .start{
  display: none !important;
}
x-stopwatch:not(paused) .pause{
  display: inline-block !important;
}

/*Paused*/
x-stopwatch[paused] .start{
  display: inline-block !important;
}
x-stopwatch[paused] .pause{
  display: none !important;
}

/*Timer*/
/*Before*/
x-timer[start-time=""] .start{
  display: inline-block !important;
}
x-timer[start-time=""] .pause{
  display: none !important;
}

/*Started*/
x-timer:not(paused) .start{
  display: none !important;
}
x-timer:not(paused) .pause{
  display: inline-block !important;
}

/*Paused*/
x-timer[paused] .start{
  display: inline-block !important;
}
x-timer[paused] .pause{
  display: none !important;
}

/*loop*/
x-timer[loop=""] .loop{
  display: none !important;
}
x-timer:not(loop) .loop{
  display: inline-block !important;
}

x-timer[loop=""] .no-loop{
  display: inline-block !important;
}
x-timer:not(loop) .no-loop{
  display: none !important;
}
